        
location /verdande {
    alias /home/{{ansible_user}}/projects/verdande/web/html;
}

location /verdande/ws {
	proxy_pass http://localhost:8068;
}

location /verdande/app {
	proxy_pass http://localhost:8060;
}
